* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    background-color: #141414;
    color: white;
    padding: -20px;
    position: relative;
}

h1{
    position: relative;
    display: flex;
    bottom: 60px;
    left: 100px;
    padding: 0;
}