body {
  background-color: #d9d9d9;
  margin: 0;
  font-family: Arial, sans-serif;
}

#escrita{
  font-size: 12px;
  justify-content: flex-start; 
  align-items: flex-start;
  gap: 25px; 
  margin: 60px 0 0 40px; 


}

.container {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start;
  gap: 25px; 
  margin: 60px 0 0 40px; 
}


.farm-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.box {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


.farm {
  width: 110px;
  height: 110px;
}


.status {
  width: 30px;
  height: 25px;
  border-radius: 50%;
  margin-top: 10px;
}


.red {
  background-color: red;
}

.green {
  background-color: limegreen;
}


.btn {
  display: block;
  margin: 40px 0 0 40px;
  padding: 10px 25px;
  background: linear-gradient(90deg, #f06e21, #fbbc05);
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}
